<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<AppSettings>
		<!--数据库类型选择：MSSQLHelper;SQLiteHelper;-->
		<add key="DBHelperName" value="MSSQLHelper"/>
		<add key="Connection" value="Password=Epr0mUser1;Persist Security Info=True;User ID=EPROMUSER;Initial Catalog=OCP_Traks;Data Source=10.191.34.143"/>
	</AppSettings>
</configuration>