<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<AppSettings>
		<!--数据库类型选择：MSSQLHelper;SQLiteHelper;-->
		<add key="DBHelperName" value="MSSQLHelper" />
		<add key="Connection" value="Password=Epr0mUser1;Persist Security Info=True;User ID=EPROMUSER;Initial Catalog=OCP_Traks;Data Source=10.191.34.143" />
	</AppSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>