<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<AppSettings>
		<!--数据库类型选择：MSSQLHelper;SQLiteHelper;-->
		<add key="DBHelperName" value="MSSQLHelper"/>
		<add key="Connection" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=NJSFDB;Data Source=JIAZHANYONG"/>
	</AppSettings>
</configuration>